html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
body {
    margin: 0;
    padding: 0;
}

.library-container {
    height: 100vh;
    width: 100%;
    grid-template-columns: 0.5fr 2fr;
    grid-template-rows: 0.5fr 3fr;
}